# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (c) 2026 Codasip GmbH.

config RISCV_CODASIP
	bool
	select ARCH_EARLY_INIT_R
	select SYS_CACHE_SHIFT_6
	imply CPU
	imply CPU_RISCV
	imply RISCV_TIMER
	imply CMD_CPU
